.qrcode-container{
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.qrcode {
    width: 20px;
    height: 200px;
}

/* Para el de los puntitos  */
.qr-data-dark{
    /* fill:blue; */
    /* stroke:yellow; */
}
/* Para el color de los cuadrados grandes de las esquinas */
.qr-finder-dark{
    fill:#4c9cce;
}
/* Para el color del cuadrado pequeño de la esquina inferior derecha*/
.qr-alignment-dark{
    fill:#4c9cce;
}
/* Para el color de UNOS POCOS puntitos */
.qr-timing-dark{
    /* fill:green; */
}
/* Para algunos puntitos al lado de los cuadrados grandes de las esquinas */
.qr-format-dark{
    /* fill:lightblue; */
}
/* Para los cuadrados pequeños dentro de los grandes de las esquinas */
.qr-finder-dot{
    fill:#4c9cce;
}
.imageLogo{
    opacity: 0.7 ;
    width: 30px;
    height: 30px;
}