a{
    text-decoration: none;
    color:black;
}
body{
    margin: 0px;
    height: 0px;
}
li{
    list-style: none;
}
.invisible{
    display: none;
}
.visible{
    display: block;
}

.textoTitulo:invalid,
.textoTituloArea:invalid,
#foto1:invalid,
#foto2:invalid,
#fechaResena:invalid
{
    border: 1px solid rgb(234, 52, 52);
}


/* --------------  FOTOS DE NEGOCIO EN CONT_CATEGORIA--------------------- */
.fotosContainerNegocio {
    display: flex;
    overflow-x: auto;
    background-color: white;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.fotosContainerNegocio .fotoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    height: 150px;
}
.fotosContainerNegocio img {
    height: 90%;
}
