a{
    text-decoration: none;
    color:black;
}
body{
    margin: 0px;
    height: 0px;
}
li{
    list-style: none;
}
.invisible{
    display: none;
}
.visible{
    display: block;
}

.textoTitulo:invalid,
.textoTituloArea:invalid,
#foto1:invalid,
#foto2:invalid,
#fechaResena:invalid
{
    border: 1px solid rgb(234, 52, 52);
}


/* --------------  FOTOS DE NEGOCIO EN CONT_CATEGORIA Y EN INFO_NEGOCIO--------------------- */
.containerTitulo {
    text-align: center;
    margin: 15px 0;
    font-size: 24px;
    font-weight: bold;
}
.icono-corazon {
    color: #333;
    font-size: 24px;
    margin-left: 10px;
}

.tituloNegocio{
    border-top: 1px solid #ddd;
    margin:3px 0px;
}
.fotosContainerNegocio {
    display: flex;
    overflow-x: auto;
}
.fotosContainerNegocio .fotoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-top: 5px;
    height: 150px;
    margin-bottom: 10px;
}
.fotosContainerNegocio img {
    height: 90%;
}


/* ////////////////  MENU / SLIDER DE REDES SOCIALES.....  //////////////////// */



.iconosColor{
    color: #333;
    font-size: 24px;
    margin-left: 10px;
}

.sliderInfoNegocio{
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
    background-color: white;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.containerIcono{
    text-align: center;
    flex: 0 0 auto;
    padding: 0 10px;
    width: 20%;
}

.containerIcono i {
    font-size: 24px;
    color: #333;
}

.containerIcono span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
}

/* apartados de info */
.infoContainerNegocio > div{
    padding-top: 10px;
    margin-bottom: 5px ;
    border-bottom: 1px solid #ccc;
}

.content_opiniones >h3 {
    margin-bottom: 5px;
}

.flechaArriba{
    position: fixed;
    top:80vh;
    right: 10vw;
    z-index:300;
    background: #ddd;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}

.flechaArriba i{
    color:#51a5d9;
    font-size: 30px;
}

/* scroll de div opiniones en info_negocio */
.content_opiniones{
    margin-bottom: 0px;
}
.container_opiniones_info {
    display: flex;
    overflow-x: auto;
    background-color: white;
    /* margin-left: 5px; */
}

.info_opiniones {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px;
    height: 200px;
    min-width: 90%;
    border: 1px solid #ccc;
    border-left: 2px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
}

.head_opinion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
}
.nick_opinion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 40px;
}
.nick_opinion > img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.fecha_opinion{

}

.resultado_opinion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 40px;
}

.img_opinion_usu{

}

.nota_media{
    font-size: 25px;
    font-weight: bold;
}

.titulo_opinion {
    width: 100%;
    height: 40px;
    font-size: 18px;
    padding: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.menu_opinion{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

.btn_opinion1{
    border-right: 1px solid #ccc;
}

.btn_opinion1,
.btn_opinion2{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.fotos_opinion__container{

}

.opinion_opinion{

}
.popup,
.popup2 {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); 
    justify-content: center;
    align-items: center;
}

.contenido_popup{
    background-color: #3d3b3bf3;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}
.contenido_popup2{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.contenido_popup{
    width: 80%;
    height: 300px;
    overflow-y: scroll;
    margin-top: 20px;
    scrollbar-color: rgb(137, 207, 232);
}

.contenido_popup2{
    min-height: 60px;
    word-wrap: break-word;
    width: 90%;
}
.informacion_popup{
    width: 100%;
    text-align: center;
}
.boton_cerrar,
.boton_cerrar2 {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.imgs_resenas{
    width: 80%;
    margin-bottom: 30px;
    border-radius: 5px;
}


/* -------------  MAPA de info_negocio  ------------------- */
.content_mapa{
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.head_mapa{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}
.icono_mapa{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calle_mapa{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_mapa{
    width: 100%;
    height: 250px;
}

/* ---------   TELEFONO negocio   ---------- */
#content_llamar{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.icono_llamar{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#telefono_llamar{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------- web negocio ------------------*/
#content_web{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
}
.icono_web{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icono_web > i{
   font-size: 24px;
}
#info_web{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


/*-------- REDES SOCIALES ------------------*/
#content_redesSociales{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.info_redes{
    height: 24px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.iconos_redes{
    font-size: 24px;
}


/* footer  */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.footer img {
    max-width: 100px;
    margin-bottom: 10px;
}
.footer .listaMenu_footer {
    margin: 20px 0;
}
.footer .listaMenu_footer a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}
.footer .listaMenu_footer a:hover {
    text-decoration: underline;
}
.footer .social {
    margin: 20px 0;
}
.footer .social a {
    margin: 0 10px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}
.footer .social a:hover {
    color: #ddd;
}

/* -------  filtros de busqueda     ------ */
.resultados_busqueda{
    width: 100%;
    min-height:600px;
    position:absolute;
    top:120px;
    left: 0px;
    background-color: #fff;
    padding:10px;
    z-index: 200;
}
.cerrar_busqueda{
    /* position:relative; */
    /* bottom: 20px;
    left: 0px; */
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;    
}
.cerrar_busqueda span{
    font-size: 18px;
    color: #333;
    padding-bottom: 2px;
    border-bottom: 1px solid #333;
    /* box-shadow:  2px 2px 2px #333;
    text-shadow: 1px 1px 1px #333; */
}


/* container de filtros */
#container_filtros{
    width: 100%;
    min-height:auto;
    position:absolute;
    top:120px;
    left: 0px;
    background-color: #fff;
    padding:10px;
    z-index: 200;
}
.lista_filtros{
    width: 100%;
    min-height:400px;
    padding: 10px;
    box-sizing: border-box;
}
.filtros{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.nombre_filtro{
    width: 150px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.nombre_filtro > i {
    margin-right: 10px;
}

.opciones_filtro{
    border-radius: 5px;
    width: auto;
    padding: 3px 10px;
    height: 23px;
    font-size: 11px;
    background-color: #ccc;
    margin: 5px;
}

.filtro_seleccionado{
    background-color: #333;
    color:white;
}

/* icono check filtro */
.check_filtro{
    font-size: 15px;
}

/* resultados de los filtros */
.container_busquedas{
    width: 90%;
    height: auto;
    margin-left: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    columns: 2;
    padding-top: 20px;
}

.container_resultado{
    width:35%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.titulo_resultado{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto_resultado{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto_resultado > img{
    height: 100px;
    border-radius:5px; 
}