@font-face {
    font-family: 'inika';
    src: url('../fonts/Inika-Regular.ttf') format('woff');;
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: inika;
}
.flechaArriba{
    position: fixed;
    top:80vh;
    left: 80vw;
    z-index:300;
    background: #ddd;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}

.flechaArriba i{
    color:#51a5d9;
    font-size: 30px;
}
body{
    margin: 0px;
    height: 0px;
}
li{
    list-style: none;
}
.invisible{
    display: none;
}
.visible{
    display: block;
}
:root {
    --azul_verify: #51a5d9;
    --azul: #3390c7;
    --azul_claro: #83c4e8;
    --azul_blanco: #d1e4f1;
    --gris: #3b3f44;
    
    --gris_claro:#f7f7f7;
    --error: #e74c3c;
    --advertencia: #eca069;

}

input:invalid{
    border: 1px solid var(--error);
}
.div_span{
    height: 20px;
    width: 100%;
    padding-left: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.bien{
    color:var(--azul_verify);
}
.error{
    color: var(--error);
}

a{
    text-decoration: none;
    color:black;
}

h1{
    font-size: 32.44px;
    color:var(--gris);
    padding-left: 10px;
}

h2{
    font-size: 28.83px;
    color:var(--gris);
    padding-left: 10px;
}

h3{
    font-size: 35.63px;
    color:var(--gris);
    padding-left: 20px;
}

h4{
    font-size: 22.78px;
    color:var(--gris);
    padding-left: 20px;
}

h5{
    font-size: 20.25px;
    color:#222222;
    text-shadow: 1px 1px 1px #ccc;
}

h6{
    font-size: 16px;
    color:#222222;
}

p{
    font-size: 15px;
    color:#222222;
    text-align: justify;
}

small{
    font-size: 14.22px;
    color:#222222;
}

/* 
            Inputs y botones

*/

.inputs{
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--azul_claro);
}



/* Imagenes */
.areaFile{
    display: flex;
    width: 80%;
    margin: 20px;
    justify-content: space-between;
}

.file-select {
    position: relative;
    display: inline-block;
    width: 45%;
}

.file-select::before {
background-color: #5678EF;
color: white;
display: flex;
justify-content: center;
align-items: center;
border-radius: 3px;
content: 'Seleccionar'; /* testo por defecto */
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
margin:10px;
}

.file-select input[type="file"] {
opacity: 0;
width: 200px;
height: 32px;
display: inline-block;
}

#fotos::before {
content: 'Sube aquí tus fotos';
}