@font-face {
    font-family: 'inika';
    src: url('../fonts/Inika-Regular.ttf') format('woff');;
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: inika;
}

body{
    margin: 0px;
    height: 0px;
}
li{
    list-style: none;
}
.invisible{
    display: none;
}
.visible{
    display: block;
}
:root {
    --azul_verify: #51a5d9;
    --azul: #3390c7;
    --azul_claro: #83c4e8;
    --azul_blanco: #d1e4f1;
    --gris: #3b3f44;
    
    --gris_claro:#f7f7f7;
    --error: #e74c3c;
    --advertencia: #eca069;
}



a{
    text-decoration: none;
    color:black;
}

h1{
    font-size: 32.44px;
    color:var(--gris);
    padding-left: 10px;
}

h2{
    font-size: 28.83px;
    color:var(--gris);

}

h3{
    font-size: 35.63px;
    color:var(--gris);

}

h4{
    font-size: 22.78px;
    color:var(--gris);

}

h5{
    font-size: 20.25px;
    color:#222222;
    text-shadow: 1px 1px 1px #ccc;
}

h6{
    font-size: 16px;
    color:#222222;
}

p{
    font-size: 16px;
    color:#222222;
}

small{
    font-size: 14.22px;
    color:#222222;
}

