.headerContainer{
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
}
.menuContainer{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgMenu{
    width: 20px;
    height: 20px;
}
.logoContainer{
    width: calc(100vw - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.listaMenu{
    position: absolute;
    top:-10px;
    left: 70px;
    width: 100%;
    height: auto;
    background: #fff;
    
}
.listaMenu li{
    width: 100%;
    padding: 10px 20px;
    /* margin-left: 50px; */
    font-size: 1.5em;
}