.headerContainer {
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  border-bottom:1px solid #ccc ;
  box-shadow: 3px 0px 3px #eee;
}

.menuContainer {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgMenu {
  width: 30px;
  height: 30px;
}

.imgMenu2 {
  width: 40px;
  height: 40px;
}

.logoContainer {
  width: calc(100vw - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.listaMenu {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 100%;
  height: auto;
  background: white;
  padding: 0px;
  border-bottom:1px solid #ccc ;
  box-shadow: 4px 0px 4px #eee;
}

.listaMenu li {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 70px;
  text-align: center;
  box-sizing: border-box;
  font-size: 1.5em;
  border-bottom:1px solid #eee ;
}