/* ---------   container tiltro / busqueda    --------------- */
nav{
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: row;
}
.containerFiltro{
  width: 70px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgFiltro{
  width: 30px;
  height: 30px;
}

.containerBusqueda{
  width: calc(100% - 70px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------   carousel    --------------- */
h3{
  margin-left: 10px;
}
h4{
  margin: 0px;
  text-align: center;
}
.imgCat{
  width: 100vw;
  height: 300px;
}
.fotoContainer{
  position: relative;
  height: 320px;
}
.flechaDelante, 
.flechaAtras{
  position: absolute;
}
.flechaDelante{
  top:45%;
  right: 5px;
  width: 16px;
  height: 16px;
}
.flechaAtras{
  top:45%;
  left: 5px;
  width: 16px;
  height: 16px;
}
  
/* formulario comercio y usuario*/
.containerNegocioForm,
.containerUsuarioForm{
  width: 90vw;
  height: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.containerNegocioForm label,
.containerUsuarioForm label {
  display: block;
  margin-bottom: 5px;
  color: #274C77;
}

.containerNegocioForm input[type="text"],
.containerUsuarioForm input[type="text"],
.containerNegocioForm input[type="email"],
.containerUsuarioForm input[type="email"],
.containerNegocioForm input[type="tel"],
.containerUsuarioForm input[type="tel"],
.containerNegocioForm input[type="url"],
.containerUsuarioForm input[type="url"],
.containerNegocioForm input[type="file"],
.containerUsuarioForm input[type="file"],
.containerNegocioForm select ,
.containerUsuarioForm select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #A3CEF1;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #FFFAFB;
  color: #274C77;
}
.containerNegocioForm #registroNegocio,
.containerUsuarioForm #registroNegocio {
  width: auto;
  padding: 10px 20px;
  background-color: #53A6D9;
  border: none;
  border-radius: 4px;
  color: #FFFAFB;
  cursor: pointer;
}

.containerNegocioForm #registroNegocio:hover,
.containerUsuarioForm #registroNegocio:hover {
  background-color: #6096BA;
}


/* estilo login */

.containerformLogin,
.containerformGenerarResena {
  width: 100%;
  max-width: 300px;
  padding: 20px;
}

.formLogin label,
.containerformGenerarResena label {
  display: block;
  margin-bottom: 5px;
  color: #274C77;
}

.formLogin input[type="email"],
.formLogin input[type="password"],
.containerformGenerarResena input[type="text"],
.containerformGenerarResena input[type="number"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  outline: none;
  border: 1px solid #A3CEF1;
}

.formLogin input[type="submit"],
.containerformGenerarResena input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #53A6D9;
  color: white;
  font-weight: bold;
}

