
.imgCat{
    width: 100vw;
    height: 300px;
  }
  .fotoContainer{
    position: relative;
    height: 300px;
  }
  .flechaDelante, 
  .flechaAtras{
    position: absolute;
  }
  .flechaDelante{
    top:45%;
    right: 5px;
    width: 16px;
    height: 16px;
  }
  .flechaAtras{
    top:45%;
    left: 5px;
    width: 16px;
    height: 16px;
  }
  
  h3{
    margin-left: 10px;
  }
  h4{
    margin: 0px;
    text-align: center;
  }