.tituloResenaContent{
    text-align: center;
}
.resenaContainer {
    box-sizing: border-box;
    margin-bottom: 5px;
    width: 100vw;
    height: auto;
    border-bottom: 1px solid #ccc;
  }

  .negocio{
    width: 100%;
    height: auto;
    margin-bottom: 5px;
  }

  .fotoPerfilNegocio{
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
  }

  .imagenNegocio{
    width: 60%;
    height: auto;
  }

  .nombreNegocio{
    width: 100%;
    height: auto;
  }
  
  .datosNegocio{
    width: 100vw;
    height: auto;
  }

  .nombreNegocio{
    width: 100%;
    font-size: 24px;
    height: 25px;
    text-align: center;
    font-weight: 600;

  }

  .direccionNegocio{
    width: 100%;
    font-size: 15px;
    height: 17px;
    text-align: center;
  }

  /*////////////// VALORACION/////////// */
  .valoracion{
    padding:10px;
    font-size: 1.1em;
  }

  .puntuacionValoracion{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-left:10px ;
  }

  .imgPuntuacion{
    width: 30px;
    height: 30px;
    margin-left:10px;
    margin-right:10px;
  }

  .resultadoValoracion{
    width: 30px;
    height: 30px;
    margin-left:10px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 15px;
  }

  
  /* Titulo de su experiencia */
.infoInputs{
    width: 80%;
    margin: 0px;
    margin-left: 20px;
    text-align: right;
    font-size: 10px;
}

.moduloResena{
    width: 100vw;
    height: auto;
}

.areaTexto{
    width: 100%;
    height: auto;
}

.textoTitulo{
    width: 80%;
    height: 20px;
    margin-left: 20px;
    line-height: 20px;
    padding-left: 5px;
}

.textoTituloArea{
    width: 80%;
    min-height: 50px;
    margin-left: 20px;
    line-height: 20px;
    padding-left: 5px;
}

.subtitulo{
    font-size: 10px ;
}

.areaFile{
    display: flex;
    width: 80%;
    margin: 20px;
    justify-content: space-between;
}

.file-select {
    position: relative;
    display: inline-block;
    width: 45%;
}
  
.file-select::before {
background-color: #5678EF;
color: white;
display: flex;
justify-content: center;
align-items: center;
border-radius: 3px;
content: 'Seleccionar'; /* testo por defecto */
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
}

.file-select input[type="file"] {
opacity: 0;
width: 200px;
height: 32px;
display: inline-block;
}

#foto1::before {
content: 'Foto 1';
}

#foto2::before {
content: 'Foto 2';
}

.fechaResena{
    margin-left:20px ;
}

/* fecha  */
.areaFecha{
    width: 100%;
    margin-left:20px ;
}

div[class=".fechaResena.ui-widget.ui-widget-content"] {
    border: 1px solid #eee;
}
div[class=".fechaResena.ui-widget.ui-widget-content"] {
    background: #fff;
}
div[class=".ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br"]
 {
border-bottom-right-radius: 3px;
}
div[class=".ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl"]
 {
border-bottom-left-radius: 3px;
}
div[class=".ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr"]
 {
border-top-right-radius: 3px;
}
div[class=".ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl"]
 {
border-top-left-radius: 3px;
}
div[class=".ui-widget-content"]
 {
border: 1px solid #ccc;
background: #5678ef;
color: #333333;
}
div[class=".ui-widget"]
 {
font-family: Arial,Helvetica,sans-serif;
font-size: 1em;
}
div[class=".ui-datepicker"]
 {
width: 17em;
padding: .2em .2em 0;
display: none;
}